* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.layout {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 150px 1fr;
    grid-template-areas:
        "header header header header header header header header header header"
        ". post-section post-section post-section post-section post-section side-menu side-menu side-menu .";
    gap: 15px;
}

/* Header */
.header {
    grid-area: header;
    color: white;
    background-color: teal;
    font-size: 35px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Post Section */
.post-section {
    grid-area: post-section;
    margin-top: 10px;
}

/* Post */
.post-section .post {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    border: 5px solid teal;
}

.post hr {
    background-color: #eee;
    color: #eee;
    height: 2px;
}

/* Side Menu */
.side-menu {
    grid-area: side-menu;
    max-width: 300px;
    padding: 10px 45px;
    margin-top: 10px;
    border: 5px solid teal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-self: start;
}

/* Tag Button */
.side-menu .tag-btn {
    width: fit-content;
    padding: 10px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    justify-self: center;
    cursor: pointer;
    transition: all 0.3s;
}

.side-menu .tag-btn:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    width: max-content;
    justify-self: center;
}

.tag-btn:hover {
    background-color: rgb(88, 0, 88);
}